*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
npm-debug.log
keycloak.json*
.env
.history
coverage
node_modules/*
!node_modules/app
